/* Course cards: catalog, block and related list */
.block_vitrina-coursestyle-two_cols {
    .block_vitrina-courseslist {
        background-color: #f9f9f9;
        border-top: 1px solid #e7e7e7;
    }

    .block_vitrina-courseslist .coursebox {
        background-color: #fff;
        width: 100%;
        max-width: 330px;
        border: none;
        box-shadow: 0 0 10px #ddd;
        border-radius: 5px;
    }

    .block_vitrina-courseslist .coursebox .panel-body {
        padding: 0;
        text-align: left;
    }

    .block_vitrina-courseslist .coursebox .panel-body a {
        color: #fff;
    }

    .block_vitrina-courseslist .coursebox .panel-body a:hover {
        filter: opacity(0.9);
    }

    .block_vitrina-courseslist .coursebox .panel-body .coursesummary {
        max-height: 200px;
        overflow: auto;
        padding: 0 20px 10px;
    }

    .block_vitrina-courseslist .coursebox .panel-body .courseimage {
        margin-bottom: 20px;
    }

    .block_vitrina-courseslist .coursebox .coursebtn {
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        margin: -40px auto 20px;
        display: block;
        max-width: 95%;
        padding: 10px;
        font-size: 16px;
        border: none;
        text-align: center;
        position: relative;
    }

    .block_vitrina-courseslist .coursebox.panel .course-progress {
        padding: 5px;
    }

    .block_vitrina-courseslist .coursebox .panel-body label {
        font-weight: bold;
        font-size: 12px;
    }

    .block_vitrina-courseslist .coursebox .panel-body .coursefee {
        border-bottom: 1px solid #eee;
        padding: 5px;
    }

    .block_vitrina-courseslist .coursebox .feeinfo {
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        margin: 5px;
        background-color: var(--secondary);
    }

    .block_vitrina-courseslist .coursebox.panel .contactslist {
        padding: 5px;
        gap: 5px;
        border-bottom: 1px solid #eee;
        margin: 5px 0;
    }

    .block_vitrina-courseslist .coursebox .contactslist h5 {
        font-size: 80%;
    }

    .block_vitrina-courseslist .coursebox .contactslist .courseinstructors a {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .block_vitrina-courseslist .coursebox .contactslist .courseinstructors a:hover {
        opacity: 0.8;
    }

    .block_vitrina-courseslist .coursebox .contactslist .courseinstructors img {
        border-radius: 50%;
    }

    .block_vitrina-courseslist .coursebox .customfieldslist {
        padding: 5px 0;
    }

    .block_vitrina-courseslist .coursebox .customfieldslist .list-group {
        border-radius: 0;
    }

    .block_vitrina-courseslist .coursebox .customfieldslist .list-group-item {
        padding: 0.4rem 0.6rem;
        font-size: 90%;
        border-right: none;
        border-left: none;
    }

    .block_vitrina-courseslist .coursebox.type-premium:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 0;
        background: transparent url('[[pix:block_vitrina|premium]]') no-repeat;
        width: 50px;
        height: 60px;
    }

    .block_vitrina-courseslist .coursebox.coursehidden {
        opacity: 0.5;
        filter: grayscale(1);
    }

    .block_vitrina-courseslist .coursebox .waiting-label {
        background-color: #595959;
        color: #fff;
        padding: 5px;
    }

    .block_vitrina-courseslist .coursebox .panel-foot {
        text-align: center;
        padding-bottom: 0;
    }

    .block_vitrina-courseslist .coursebox .panel-foot .btn {
        width: 100%;
        color: #666;
        background-color: #f1f1f1;
        padding: 10px 0;
        border-top: 1px solid #e7e7e7;
    }

    .vitrina-ranking-stars {
        margin: auto;
    }

    .vitrina-ranking-stars-bar:after {
        left: 0;
    }

    .block_vitrina-courseslist .coursebox.state-waiting .panel-body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 145px;
        background-color: rgba(20, 20, 20, 0.6);
    }

    .block_vitrina-courseslist .coursebox.state-waiting .waiting-label {
        background-color: transparent;
        text-transform: uppercase;
        font-size: 23px;
        font-weight: bold;
        border-top: 2px solid;
        border-bottom: 2px solid;
        left: 30px;
        right: 30px;
        width: calc(100% - 60px);
    }
}

/* Related courses list on the detail page */
.block_vitrina-detailstyle-two_cols {
    .relatedcourses > div .coursebox {
        width: calc(33% - 40px);
        max-width: unset;
    }
}

@media (max-width: 715px) {
    .block_vitrina-detailstyle-two_cols {
        .relatedcourses > div .coursebox {
            width: calc(100% - 20px);
        }
    }
}

/* Catalog page chrome */
#page-blocks-vitrina-index.block_vitrina-coursestyle-two_cols {
    #region-main > .card {
        border: none;
    }

    #region-main > .card > .card-body {
        padding: 0;
    }

    .courses-sort {
        margin: 20px 0;
    }

    .courses-sort li {
        margin: 0 10px;
    }

    .courses-sort li a {
        text-decoration: none;
    }

    .courses-sort li a:after {
        height: 30px;
        width: 30px;
        transform: rotate(45deg);
        position: absolute;
        bottom: -40px;
        left: calc(50% - 15px);
        background-color: #f9f9f9;
        border: 1px solid #e7e7e7;
        border-right: 0;
        border-bottom: 0;
    }

    .courses-sort.sort-by-default li a[data-sort="default"],
    .courses-sort.sort-by-recents li a[data-sort="recents"],
    .courses-sort.sort-by-greats li a[data-sort="greats"],
    .courses-sort.sort-by-premium li a[data-sort="premium"] {
        font-weight: bold;
        border-bottom: 2px solid;
    }

    .courses-sort.sort-by-default li a[data-sort="default"]:after,
    .courses-sort.sort-by-recents li a[data-sort="recents"]:after,
    .courses-sort.sort-by-greats li a[data-sort="greats"]:after,
    .courses-sort.sort-by-premium li a[data-sort="premium"]:after {
        content: "";
    }

    .filtercontrol > h5 {
        background-color: #000;
        color: #fff;
        text-align: center;
    }
}

/* Detail page chrome */
#page-blocks-vitrina-detail.block_vitrina-detailstyle-two_cols {
    #box-main_content {
        font-size: 17px;
    }

    #page-header-config {
        display: none;
    }

    #region-main > .card {
        border: none;
    }

    .relatedcourses h3 {
        text-align: center;
    }

    .relatedcourses > div {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }

    .relatedcourses > div .vitrina-ranking-stars {
        float: right;
        margin-top: 35px;
    }
}

@media (min-width: 1281px) {
    #page-blocks-vitrina-detail.block_vitrina-detailstyle-two_cols {
        #box-main_content .btn {
            font-size: 22px;
            border-radius: 5px;
            padding-left: 40px;
            padding-right: 40px;
        }

        #box-main_content .icon:not(img) {
            font-size: 28px;
            width: 28px;
            height: 28px;
        }
    }
}

@media (min-width: 1400px) {
    #page-blocks-vitrina-detail.block_vitrina-detailstyle-two_cols {
        #box-main_content .btn {
            font-size: 17px;
            border-radius: 5px;
            padding-left: 40px;
            padding-right: 40px;
        }

        #box-main_content .icon:not(img) {
            font-size: 28px;
            width: 28px;
            height: 28px;
        }
    }
}

@media (max-width: 1280px) {
    #page-blocks-vitrina-detail.block_vitrina-detailstyle-two_cols {
        #box-main_content {
            font-size: 21px;

        }

        #page.container-fluid {
            padding-left: 0;
            padding-right: 0;

        }

        #page-content {
            margin-right: 0;
            margin-left: 0;

        }

        #region-main-box {
            padding-right: 0;

        }

        #region-main > .card > .card-body {
            padding-right: 0;

        }
    }
}

@media (max-width: 715px) {
    #page-blocks-vitrina-detail.block_vitrina-detailstyle-two_cols {
        #page-content {
            margin-left: -5px;
            margin-right: -5px;

        }

        #region-main-box {
            padding: 0;

        }

        #box-main_content {
            font-size: 14px;

        }

        #region-main > .card > .card-body {
            padding: 0;

        }

        .relatedcourses > div {
            display: block;

        }

        .relatedcourses > div .onerelated {
            width: calc(100% - 40px);
            margin: 0 auto 40px;

        }

        .relatedcourses > div .onerelated::after {
            content: "";
            display: block;
            clear: both;

        }

        .relatedcourses > div {
            margin-left: 0;
            margin-right: 0;

        }
    }
}

/* Detail content (excludes related course cards) */
div.block_vitrina-detailstyle-two_cols {
    .course-detail {
        padding-top: 20px;
        position: relative;
    }

    .course-detail.type-premium:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 0;
        background: transparent url('[[pix:block_vitrina|premium]]') no-repeat;
        width: 80px;
        height: 100px;
    }

    .catalog-return {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .btn-primary {
        transition: all .2s ease-in-out;
    }

    .btn-primary:focus {
        box-shadow: none;
    }

    .btn-primary.focus {
        box-shadow: none;
    }

    .btn-primary:hover {
        transform: scale(1.1);
    }

    .btn-primary.hover {
        transform: scale(1.1);
    }

    .catalog-return a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .information-structure {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .course-specific-info > div {
        margin-bottom: 50px;
    }

    .course-specific-info > div h3 {
        margin-bottom: 30px;
    }

    .course-general-info {
        width: 705px;
        min-width: 705px;
        margin-left: 20px;
        font-size: 16px;
        padding: 20px;
        position: relative;
    }

    .course-general-info .box-custom-shadow {
        background: #e6e6e6 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        filter: blur(8px);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .course-general-info .general-items-box {
        background-color: #fff;
        position: relative;
        padding: 20px;
    }

    .course-general-info .general-items-box > div {
        padding: 0 20px 20px;
    }

    .course-general-info .media-content {
        margin-bottom: 20px;
        padding: 0;
        font-size: 0;
        position: relative;
    }

    .course-general-info .media-content video {
        width: 100%;
        height: 402px;
        background: #12182b 0% 0% no-repeat padding-box;
    }

    .course-general-info .media-content iframe {
        width: 100%;
        height: 402px;
        background: #12182b 0% 0% no-repeat padding-box;
    }

    .course-detail .enroll-container {
        padding: 20px;
        width: 100%;
        border-radius: unset;
        height: auto;
        background-color: #eee;
        color: inherit;
    }

    .course-detail .enroll-container a.btn {
        font-size: 22px;
        background-color: #000;
        border-radius: 5px;
    }

    .course-general-info .enroll-content {
        margin: 0 -40px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .course-general-info .ranking-summary {
        display: block;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .course-general-info .ranking-summary .vitrina-ranking-stars {
        margin-bottom: 10px;
    }

    .course-general-info .ranking-summary > div {
        padding: 0;
        border: unset;
    }

    .list-info {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .list-info li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .list-info li > * {
        margin-right: 5px;
    }

    .list-info li i {
        color: #bc8338;
        font-size: 28px;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }

    .list-info li img {
        width: auto;
        height: auto;
        margin-right: 15px;
    }

    .list-info li[data-certified="No"] {
        display: none;
    }

    .share-container {
        border: none;
    }

    .share-container .input-container {
        margin-bottom: 10px;
    }

    .share-container .input-container .input-group-text {
        background-color: #000;
        color: #fff;
        border-radius: 5px 0 0 5px;
        font-size: 30px;
    }

    .share-container .input-container input[name="courselink"] {
        width: calc(100% - 70px);
        font-size: 16px;
        background-color: #d7d7d7;
        border-radius: 0 2px 2px 0;
        padding: 5px;
        border: 2px solid #d7d7d7;
        font-style: italic;
    }

    .share-container .share-icons {
        justify-content: flex-start;
        padding: 0;
    }

    .share-container .share-icons a {
        text-decoration: none;
        background-color: transparent;
        border: 2px solid #141b2f;
        border-radius: 7px;
        font-size: 40px;
        height: 48px;
        width: 48px;
    }

    .share-container .share-icons a i {
        color: #141b2f;
    }

    .course-detail .detail-foot {
        display: block;
    }

    .course-detail .detail-foot h5 {
        text-align: center;
        margin: 40px 0 30px;
    }

    .course-detail .detail-foot > div {
        display: flex;
        padding: 20px;
    }

    .course-detail .detail-foot > div.has_rating.has_comments > div {
        width: 50%;
    }

    .course-detail .detail-foot .course-comments {
        background-color: #e6e6e6;
        padding: 20px;
        margin-right: 20px;
        border-radius: 3px;
        font-size: 15px;
    }

    .course-detail .detail-foot .course-comments[data-count="1"] .box-show-more-comments {
        display: none;
    }

    .course-detail .detail-foot .course-comments[data-count="0"] .box-show-more-comments {
        display: none;
    }

    .course-detail .detail-foot .course-comments .box-show-more-comments {
        text-align: right;
    }

    .course-detail .detail-foot .course-comments .box-show-more-comments .less {
        display: none;
    }

    .course-detail .detail-foot .course-comments.showallcomments .onecomment {
        display: block;
    }

    .course-detail .detail-foot .course-comments.showallcomments .box-show-more-comments .less {
        display: initial;
    }

    .course-detail .detail-foot .course-comments.showallcomments .box-show-more-comments .more {
        display: none;
    }

    .course-detail .detail-foot .course-comments > div {
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 20px 10px;
    }

    .course-detail .detail-foot .course-comments > div.onecomment {
        display: none;
    }

    .course-detail .detail-foot .course-comments > div:first-child {
        display: block;
    }

    .course-detail .detail-foot .course-comments > div:last-child {
        border: none;
    }

    .course-detail .detail-foot .course-comments > div .timeformated {
        text-align: right;
    }

    .course-detail .detail-foot .course-comments > div .comment-body {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .course-detail .detail-foot .course-comments > div .comment-body img.userpicture {
        width: 130px;
        height: 130px;
        max-width: unset;
        border: 5px solid #fff;
        box-shadow: -5px 5px 10px #aaa;
        margin-right: 80px;
    }

    .course-detail .detail-foot .course-comments > div label {
        text-align: right;
        display: block;
        color: #141b2f;
        font-weight: 500;
        font-size: 14px;
    }

    .course-detail .detail-foot .ranking-detail {
        max-width: unset;
    }

    .ranking-detail > div:first-child label {
        font-size: 40px;
        display: inline-block;
        margin: 0 10px 0 0;
    }

    .ranking-detail > div:nth-child(2) {
        margin-top: 20px;
    }

    .ranking-detail .ranking-detail-item {
        margin-bottom: 5px;
    }

    .ranking-detail .ranking-detail-item label {
        white-space: nowrap;
        padding-right: 10px;
        margin: 0;
    }

    .ranking-detail .ranking-detail-item div:nth-child(3) {
        white-space: nowrap;
        width: 50px;
        text-align: right;
    }

    .ranking-detail .ranking-detail-item .rating-bar {
        height: 10px;
        border-radius: 5px;
        background-color: #cfcfcf;
        width: 100%;
    }

    .ranking-detail .ranking-detail-item .rating-bar div {
        height: 100%;
        border-radius: 5px;
        background-color: #ffc500;
    }

    .msg-courselink-copy {
        background-color: #fff;
        opacity: 0.9;
        padding: 5px;
        border: 1px dashed;
        font-size: 70%;
    }

    .experts-box p::after {
        content: "";
        display: block;
        clear: both;
    }

    .experts-box > p > img {
        float: left;
        margin: 0 20px 20px 0;
        width: 97px;
        height: 97px;
        border: 5px solid #fff;
        box-shadow: -5px 5px 10px #aaa;
        border-radius: 50%;
    }

    .experts-box > p > strong {
        display: block;
        padding-top: 30px;
        font-size: 17px;
        font-weight: 700;
        color: #151c2f;
    }

    .experts-box > p > em {
        font-style: unset;
        font-weight: 300;
        font-size: 17px;
    }
}

@media (min-width: 1281px) {
    div.block_vitrina-detailstyle-two_cols {
        .container {
            max-width: 2100px;
        }

        .course-general-info {
            width: 565px;
            min-width: 565px;
        }

        .course-general-info .media-content video {
            height: 348px;
        }

        .course-general-info .media-content iframe {
            height: 348px;
        }
    }
}

@media (min-width: 1400px) {
    div.block_vitrina-detailstyle-two_cols {
        .course-general-info {
            width: 616px;
            min-width: 616px;
        }

        .course-general-info .media-content video {
            height: 400px;
        }

        .course-general-info .media-content iframe {
            height: 400px;
        }
    }
}

@media (min-width: 1920px) {
    div.block_vitrina-detailstyle-two_cols {
        .course-general-info {
            width: 650px;
            min-width: 650px;
        }

        .media-content video {
            height: 390px;
        }

        .media-content iframe {
            height: 390px;
        }
    }
}

@media (max-width: 1280px) {
    #page-blocks-vitrina-detail.block_vitrina-detailstyle-two_cols {
        .container {
            max-width: 1200px;
        }

        .course-general-info {
            width: 565px;
            min-width: 565px;
        }

        .course-general-info .media-content video {
            height: 348px;
        }

        .course-general-info .media-content iframe {
            height: 348px;
        }
    }
}

@media (max-width: 715px) {
    div.block_vitrina-detailstyle-two_cols {
        h2 {
            font-size: 23px;

        }

        h3 {
            font-size: 18px;

        }

        h5 {
            font-size: 18px;

        }

        h6 {
            font-size: 14px;

        }

        .catalog-return {
            padding-left: 20px;

        }

        .information-structure {
            flex-direction: column-reverse;

        }

        .course-general-info {
            width: auto;
            min-width: unset;
            margin: 0 0 20px;
            box-shadow: none;
            font-size: 14px;
            padding: 0;

        }

        .course-general-info .media-content {
            border: none;
            margin-bottom: 0;

        }

        .course-general-info .media-content video {
            height: 227px;

        }

        .course-general-info .media-content iframe {
            height: 227px;

        }

        .course-general-info .general-items-box > div {
            padding: 0;

        }

        .course-general-info .experts-box > p > strong {
            font-size: 14px;

        }

        .course-general-info .experts-box > p > em {
            font-size: 14px;

        }

        .course-general-info .share-container .input-container .input-group-text {
            font-size: 14px;

        }

        .course-general-info .share-container .input-container input[name="courselink"] {
            font-size: 14px;

        }

        .course-general-info .share-container .share-icons a {
            font-size: 20px;
            height: 28px;
            width: 28px;

        }

        .course-specific-info {
            padding: 20px;

        }

        .course-detail .detail-foot {
            padding: 0;

        }

        .course-detail .detail-foot > div {
            flex-direction: column;

        }

        .course-detail .detail-foot > div > div {
            width: 100%;

        }

        .course-detail .detail-foot .course-comments {
            padding: 10px;

        }

        .course-detail .detail-foot .course-comments > div {
            margin-left: 0;

        }

        .course-detail .detail-foot .course-comments > div label {
            font-size: 14px;

        }

        .course-detail .detail-foot .course-comments > div .comment-body {
            font-size: 12px;

        }

        .course-detail .detail-foot .course-comments > div .comment-body img.userpicture {
            width: 80px;
            height: 80px;
            margin-right: 20px;

        }

        .course-detail .detail-foot > div.has_rating.has_comments > div {
            width: 100%;

        }
    }
}
