{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_vitrina/cesil/main

    This template renders the template content area for a resource.

    Example context (json):
    {}
}}

<div class="courses block_vitrina-content">

    {{#hastabs}}
        <div class="block_ludifica-tabs">
        {{#tabs}}
            <div data-ref="#{{uniqueid}} .tab-{{key}}" title="{{title}}" class="{{state}}">
                <i class="fa fa-{{icon}}"></i>
            </div>
        {{/tabs}}
        </div>
    {{/hastabs}}

    {{#courses}}
    {{>block_vitrina/cesil/course}}
    {{/courses}}
</div>
<a href="{{baseurl}}/blocks/vitrina/" class="btn btn-primary btn-block">{{#str}}viewall, block_vitrina{{/str}}</a>