{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_vitrina/cartbutton

    This template renders the template content for the cart button.

    Example context (json):
    {}
}}

<a class="btn btn-primary"
    data-component="enrol_fee"
    data-action="{{#shopmanager}}{{plugin}}{{/shopmanager}}/addProduct"
    data-reference="{{reference}}"
    data-quantity="1"
    data-formatedcost="{{formatedcost}}"
    data-currency="{{currency}}"
    data-cost="{{cost}}"
    {{#imagepath}}
        data-image="{{.}}"
    {{/imagepath}}
    data-name="{{originalcoursename}}"
>
    {{#pix}} i/addtocart, {{#shopmanager}}{{plugin}}{{/shopmanager}} {{/pix}}
    <span>{{#shopmanager}}{{labeladdproduct}}{{/shopmanager}}</span>
</a>
