{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_vitrina/main

    This template renders the template content area for a resource.

    Example context (json):
    {
        "uniqueid": "unique_id_string"
    }
}}

<div id="{{uniqueid}}" class="block_vitrina-content" data-observe-resizes>

    {{>block_vitrina/tabs}}

    <div class="tabs-content block_vitrina-courseslist">
        {{#tabs}}
            <div class="courses tab-{{key}} block_vitrina-tabcontent {{state}} loading" data-view="{{key}}">

                <div class="courses-list"></div>
                <div class="nocourses alert alert-dismissible alert-warning hidden"></div>

                <a href="{{baseurl}}/blocks/vitrina/?view={{key}}&id={{instanceid}}" class="btn btn-primary btn-block loadmore">
                    {{#str}}viewall, block_vitrina{{/str}}
                </a>

            </div>
        {{/tabs}}
    </div>
</div>